

.heading, #done {
	text-align: center;
}

#done {
	font-size: 48px;
	margin-top: 6px;
}

.jumbotron p {
	font-size: 40px;
	text-align: center;

}

.jumbotron {
	text-align: center;
}

.show-timer {
	font-size: 20px;
	color: red;
}

input[type='radio'] {
	margin-right: 5px;
	margin-left: 5px;
}

label {
	font-size: 20px;
	color: mediumblue;
}